[user]
    name = Daniel Balcells
    email = dbalcells@gmail.com

[push]
    default = current
    autoSetupRemote = true

[pull]
    rebase = true

[core]
    editor = vim

[merge]
    tool = vimdiff

[credential]
    helper = store

[credential "https://github.com"]
    username = danielbalcells

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[init]
    defaultBranch = main
